div {
  background: #ababab;
  -webkit-transition: all 1.3s linear;
  -moz-transition: all 1.3s linear;
  -ms-transition: all 1.3s linear;
  -o-transition: all 1.3s linear;
  transition: all 1.3s linear;
}
